streamlit
faster-whisper
ffmpeg-python
moviepy
plotly
altair
numpy
pandas
torch --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
transformers
peft
pyserial
pysrt
streamlit-webrtc
